.App {
  /* text-align: center; */
  background-color: #f5f5f5;
}

html{

  background-color: #f5f5f5;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.list-of-members {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.list-of-members .list-group-item:last-child{
  border-bottom:0;
}


.list-of-members .list-group-item{
  padding-bottom:0;
}

.react-datepicker__input-container, .react-datepicker-wrapper{
  width: 100%;
}